<html>
<head>
	<title>Certificate</title>
	<link rel="stylesheet" href="../stuff/certificate.css">
</head>
<body>
	<img src="../stuff/certificate.jpg">
	<div id="name"><p><%=name%></p></div>
</body>
</html>