<html>
<head>
	<title>Certificate</title>
	<!-- <link rel="stylesheet" href="../stuff/certificate.css"> -->
	<style>
		html,
	body {
      height: 100%;
      width: 100%;
      }
	img{
    height: 100%;
    width: 100%;
    margin:0px;
    }

    #name{
    margin-top:-700px;
    margin-left: 60px;
    }

  p{
    font-size:40px;
    color:black;
    font-weight:400;
    text-align: center;
  }
</style>
</head>
<body>
	<img src="file:///A:/sublime text/projects/Email and Certificates/certificate.jpg">
	<div id="name"><p><%=name%></p></div>
</body>
</html>