<!DOCTYPE html>
<html>

<head>
    <title>Registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../stuff/index.css">
</head>

<body>
    <h1>Uneako</h1>
    <div class="main-block">
        <div class="left">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac orci phasellus egestas tellus. Pellentesque nec nam aliquam sem et tortor consequat id. Non blandit massa enim nec. Dictum non consectetur a erat nam at lectus. Elit pellentesque habitant morbi tristique. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Est ultricies integer quis auctor. Vitae tempus quam pellentesque nec. Viverra maecenas accumsan lacus vel. Fermentum posuere urna nec tincidunt. Fames ac turpis egestas maecenas pharetra convallis.
            <br>
            Ultricies mi quis hendrerit dolor magna eget est lorem ipsum. Facilisis magna etiam tempor orci eu lobortis elementum nibh tellus. Fames ac turpis egestas integer eget aliquet. Magna etiam tempor orci eu lobortis elementum nibh tellus. Elementum sagittis vitae et leo duis ut diam quam. Tristique senectus et netus et. Sed adipiscing diam donec adipiscing tristique. Pharetra magna ac placerat vestibulum lectus. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Lectus vestibulum mattis ullamcorper velit sed. Dui ut ornare lectus sit amet est placerat in egestas. Pellentesque habitant morbi tristique senectus. Viverra maecenas accumsan lacus vel facilisis volutpat est. Turpis nunc eget lorem dolor sed viverra ipsum nunc. In dictum non consectetur a. Laoreet non curabitur gravida arcu ac. Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget nullam.
            Pulvinar elementum integer enim neque volutpat. Enim sit amet venenatis urna cursus eget nunc. Ut tortor pretium viverra suspendisse potenti nullam ac tortor vitae. Sed tempus urna et pharetra pharetra massa massa. Turpis cursus in hac habitasse. In iaculis nunc sed augue lacus viverra vitae congue. Adipiscing at in tellus integer feugiat scelerisque varius morbi enim. Pretium quam vulputate dignissim suspendisse in est ante in. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo integer. Sem et tortor consequat id.
            <br>
            Sagittis vitae et leo duis ut diam. Mattis vulputate enim nulla aliquet porttitor. Risus at ultrices mi tempus imperdiet. Turpis cursus in hac habitasse platea dictumst quisque sagittis purus. Mauris sit amet massa vitae tortor condimentum lacinia quis vel. Consectetur adipiscing elit ut aliquam purus sit. Nibh tortor id aliquet lectus proin nibh. Volutpat odio facilisis mauris sit. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est.
          </p>
        </div>
        <div class="info">
            <form method="POST">
                <input type="text" name="name"  placeholder="Enter your Full Name">
                <input type="text" name="email" placeholder="Enter your Email">
                <select name="sex">
                  <option>Male</option>
                  <option>Female</option>
                  <option>Rather Not Say</option>
                </select> 
                <input type="text" name="number" placeholder="Enter your mobile number">
                <button type="submit" href="/">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>