<!DOCTYPE html>
<html>

<head>
    <title>Registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../stuff/index.css">
</head>

<body>
    <h1>Uneako</h1>
    <div class="main-block">
        <div class="left">
            <p>
                Pledge to Save the Earth
                I, a responsible inhabitant of the Earth, hereby pledge to respect nature and:<br>
                1) Reduce my carbon footprint by switching to a sustainable lifestyle. <br>
                2) Practice the 3Rs—reduce, reuse and recycle, and also encourage others to do so.<br>
                3) Replace my consumption of products, at home and office, with eco-friendly alternatives.<br>
                4) Reduce wastage of food, to the greatest possible extent.
                By doing this, I commit to honour and preserve nature and undo the damage caused to it by us.<br>
                Fill the form and start the change!
            </p>
        </div>
        <div class="info">
            <form method="POST">
                <span> Enter your name:</span>
                <input type="text" name="name" class="input" placeholder="Enter your Full Name" required="required">
                <span> Enter your Email:</span>
                <input type="text" name="email" class="input" placeholder="Enter your Email" required="required">
                <span> Enter your Country:</span>
                <input type="text" name="country" class="input" placeholder="Your Country" required="required">
                <span> Enter your City:</span>
                <input type="text" name="city" class="input" placeholder="Your City" required="required">
                <span>Enter your Number:</span>
                <input type="text" name="num" class="input" placeholder="Enter your mobile number" required="required">
                <input type="checkbox" required="required">
                <label for="pledge">
                To my planet, I pledge my devotion, in saving this planet alone lies my happiness and well being. I will also be asking my colleagues  to take the pledge for the Mother Earth.</label>
                <button type="submit" href="/">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>