      html,
      body {
          width: 100%;
          height: 100%;
      }

      p {
          padding: 0;
          margin: 0;
          outline: none;
          font-family: Roboto, Arial, sans-serif;
          font-size: 24px;
      }

      h1,
      h2 {
          text-transform: uppercase;
          font-weight: 400;
          margin-top: 0px;
          margin-left: 50%;
          color:black;
      }

      .main-block {
          justify-content: center;
          align-items: center;
          margin-right: 30%;
          padding: 25px;
          height: 100%;
          width: 100%;
          display: flex;
      }

      .info {
        width: 800px;
      }

      .left {
        height: 100%;
        width: 800px;
      }

      form{
        padding:20px;
        margin-left:30px;
        height: 100%;
        border:30px solid blue;
        flex-direction: column;
      }

      input,select{
          padding: 5px;
          margin-bottom: 30px;
          margin-top: 30px;
          width: 100%;
          background: transparent;
          border: none;
          border-bottom: 3px solid #eee;
      }

      input::placeholder {
          color: black;
      }

      button {
          padding: 10px 5px;
          margin-top: 20px;
          border-radius: 5px;
          border: none;
          background: #26a9e0;
          text-decoration: none;
          font-size: 15px;
          font-weight: 400;
          color: #fff;
          width: 100%;
      }

      button:hover {
          background: #85d6de;
      }

      @media (min-width: 568px) {

          html,
          body {
              height: 100%;
          }
